<launch>

    <node pkg="krsbi2019" type="omni2pcl" name="omni2pcl"  >
    </node>


    <node pkg="krsbi2019" type="odometry_odom_robot1.py" name="odometry_odom"  >
    </node>


    <!-- run pointcloud_to_laserscan node  -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/cloud_pcl"/>
        <remap from="scan" to="/laser_scan"/>
        <rosparam>
            target_frame: laser_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -1.0
            max_height: 10.0

            angle_min: -3.14 # -M_PI
            angle_max: 3.14 # M_PI
            angle_increment: 0.028 #0.0087 # M_PI/360.0
            scan_time: 0.03333
            range_min: 0.40
            range_max: 4.0
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>




  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find krsbi2019)/rviz/krsbi2019.rviz"/>


  <node pkg="tf" 
        type="static_transform_publisher" 
        name="raspicamlink_basefootprint"
	args="0 0 0 0 0 0  base_link1 laser_link  100" />



  <!-- SLAM: Gmapping -->
  <include file="$(find krsbi2019)/launch/krsbi_gmapping.launch">
  </include>



</launch>
